django==1.11
pandas
matplotlib==1.4.3
requests
django-bootstrap3
django-extensions
django-grappelli==2.10.1
django-filebrowser
django-phonenumber-field
django-polymorphic=1.0.1
django-redis
django-registration-redux
django-smart-selects
django-tastypie
MySQL-python
Pillow
psycopg2
GDAL==2.1.0
MySQL-python
xlrd



